#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 0;
  background-color: black;
  color: white;
}

.link {
  color: white;
  text-decoration: none;
}

.error-msg {
  color: red;
}

.form-field {
  display: flex;
  margin: 10px;
}

label {
  margin: 5px;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}