body {
  background-color: wheat;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 0;
  background-color: black;
  color: white;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16pt;
}

.link:hover {
  text-shadow: 0px 0px 3px white;
}

.error-msg {
  color: red;
  text-align: center;
}

.form-field {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: 100%;
  min-height: 41px;
}

.info-field {
  margin: 10px;
  width: 100%;
}

.website-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.single-info-field-container {
  display: flex;
  justify-content: center;
}

.info-field-container {
  display: flex;
  justify-content: center;
}

.attr-container {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  margin-bottom: 20px;
}

.attr-container > div{
  background-color: black;
}

.attr {
  margin: 10px;
  padding: 10px;
  border: 5px ridge white;
  height: 20px;
}

.attr-name {
  margin-right: 10px
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.button, button {
  padding: 5px;
  background-color: #333;
  color: white;
  border: 5px outset black;
  cursor: pointer;
  min-width: 20px;
  text-align: center;
}

.delete {
  padding: 1px;
  background-color: red;
  color: white;
  cursor: pointer;
  text-align: center;
  border: 3px outset black;
  width: 25px;
}

.delete:hover {
  border: 3px inset black;
}

.button:hover, button:hover{
  border: 5px inset black;
  background-color: black;
}

.back {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.back > div {
  background-color: black;
  color: white;
  padding: 5px;
  border: 5px outset black;
  cursor: pointer;
}

.back > div:hover {
  border: 5px inset black;
}

.list-label {
  margin: 20px 0 10px 0;
}

input {
  width: 50%;
  border: 5px inset black;
}

textarea {
  width: 67%;
  border: 5px ridge black;
}

label {
  margin: 5px;
}

h1 {
  margin: 0;
}

h2 {
  border: 10px ridge white;
  text-align: center;
  padding: 10px;
  width: 40%;
  margin: 20px auto 0 auto;
  color: white;
  background-color: black;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

main {
  display: flex;
  justify-content: center;
}

form, .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 10px ridge white;
  width: 60%;
  font-size: 16pt;
  background-color: #090909;
  color: white;
}

a {
  color: wheat;
}

a:hover {
  text-shadow: 0px 0px 3px white;
}

select {
  color: white;
  background-color: black;
  border: 5px inset black;
}

.info {
  max-width: 40%;
}