#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 0;
  background-color: black;
  color: white;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-shadow: 0px 0px 3px white;
}

.error-msg {
  color: red;
}

.form-field {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
}

.info-field {
  margin: 10px;
  width: 100%;
}

.website-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.single-info-field-container {
  display: flex;
  justify-content: center;
}

.info-field-container {
  display: flex;
  justify-content: center;
}

.attr-container {
  display: flex;
  flex-wrap: wrap;
}

.attr {
  margin: 10px;
  padding: 5px;
  border: 5px outset black;
}

.attr-name {
  margin-right: 10px
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.delete {
  background-color: red;
  color: white;
  height: 30px;
  line-height: 10px;
}

.button, button {
  padding: 5px;
  background-color: black;
  color: white;
  border: 5px outset black;
  cursor: pointer;
  min-width: 20px;
  text-align: center;
}

.button:hover, button:hover{
  border: 5px inset black;
}

input {
  width: 50%;
}

textarea {
  width: 67%;
}

label {
  margin: 5px;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

main {
  display: flex;
  justify-content: center;
}

form, .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 20px;
  padding: 20px;
  border: 10px outset black;
}